<!-- base extend -->
<html>
  <head>
    <title>Create Note</title>  
    <!--Implement Bootstrap-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">


    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/note.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile_style.css') }}">

  </head>

  <body>
    <h1 class="center-title">爷爷!</h1>
  	<div class="center-title jumboBackGround">
  	
    	<a href="/index">主页  </a>|
    	<a href="/chinese_add">+写信  </a>|
      <a href="/chinese_note" >信  </a>|
      <a href="/chinese_gallery">  照片  </a>|
      <a href="/chinese_remove_photo">  删除照片</a>
   	</div>
    <div style="padding-bottom: 1em">
    </div>
   	<!-- Modal -->
	<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">写信</h4>
      			</div>
	      		<div class="modal-body">
	        		<form method="POST" action="{{ url_for('chinese_create_post') }}">
	        			<input type="text" class="form-control" name="name" placeholder="名字">
	        			<br>
	        			<textarea name="posting" class="form-control" rows="3" placeholder="信" style="max-width: 100%;"></textarea>
	        			<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				        	<input type="submit" class="btn-primary"/>
				      	</div>
	        		</form>
	      		</div>
		    	
    		</div>
  		</div>
	</div>
    {% block content %}{% endblock %}
    <!-- JQUERY -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Owl Carousel -->
    <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
    <!-- Javascript function for OWL -->
    <script language="JavaScript" type="text/javascript">
      $(document).ready(function() {
       
        $("#owl-demo").owlCarousel({
          autoPlay : 3000,
          stopOnHover : true,
          navigation:true,
          paginationSpeed : 1000,
          goToFirstSpeed : 2000,
          singleItem : true,
          transitionStyle:"fade"
        });
       
      });
    </script>
    <!-- Custom Javascript -->
    <script type="text/javascript">
      $(window).load(function(){
        var element = document.getElementById("gally");
        var dg_H = $(window).height();
        $('.gally').css(
          {'height':dg_H*0.5, 
          'width': 'auto',
          'margin': '0 auto'
        });
      });

    </script>

	  <!-- Bootstrap -->
	  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script> 
  </body>
</html>