{% extends "chinese_base.html" %}
{% block content %}
	
	<div class="col-md-offset-1 col-md-10 col-md-offset-1" style=" border-radius: 10px; height: initial; background-color: #148DFA; margin-bottom: 1em">
		<!-- 
			users is now in pagination mode since .items
			refer to mega tut flask
		-->
	    {% for post in users.items %}
	    <div class="center-text">
	    	<h1 style="color:white">{{ post.author }}</h1>
	    	<p style="color:white">{{ post.post }}</p>
	    	<a value = "{{ post }}" href="{{ url_for('chinese_edit_page', uid=post.id) }}" data-toggle="modal" style="color:#C6F6A0">修改</a><hr>
	    </div>

	    {% endfor %}

	    <!-- 
		NOTE: eng_version is the function for the page eng_note
		Bad naming conventions 
		-->
		<div class="center-text" id="page_nav">
			{% if users.has_prev %}
			<a href="{{ url_for('chinese_version', page=users.prev_num) }}" style="color:#C6F6A0">&lt;&lt; 下页</a>
			{% else %}
			&lt;&lt; 下页
			{% endif %} 
			| 
			{% if users.has_next %}
			<a href="{{ url_for('chinese_version', page=users.next_num) }}" style="color:#C6F6A0">前一页 &gt;&gt;</a>
			{% else %}
			前一页 &gt;&gt;
			{% endif %}
		</div>
	</div>
    	
	<!-- <div id="status">0 | 0</div>
	<div id="wrap"> -->
	<!-- </div> -->

	



	<script type="text/javascript">
	function yHandler(){
		var wrap = document.getElementById('wrap');
		var contentHeight = wrap.offsetHeight;
		var yOffset = window.pageYOffset;
		var y = yOffset + window.innerHeight;
		if (y >= contentHeight){
			wrap.innerHTML += '<div class="new Data"></div>';
			// ajax call to get more data goes here
		}
		var status = document.getElementById('status');
		status.innerHTML = contentHeight+ " | " +y;
	} 
	window.onscroll = yHandler;

	</script>
<!-- TODO: Del - Alert -->

{% endblock %}