{% extends "eng_base.html" %}
{% block content %}
			
	<div class="col-md-offset-1 col-md-10 col-md-offset-1">
	    {% for post in users %}
	    <div class="center-text">
	    	<h1>{{ post.author }}</h1>
	    	<p>{{ post.post }}</p>
	    	<a value = "{{ post.id }}" href="{{ url_for('delete_post', uid=post.id) }}">delete</a>
	    	<a value = "{{ post }}" href="{{ url_for('edit_page', uid=post.id) }}" data-toggle="modal">edit</a><hr>
	    </div>

	    {% endfor %}
	</div>    	

<!-- TODO: infinite scrolling -->
<!-- TODO: Del - Alert -->
<!-- upload images -->
{% endblock %}