{% extends "eng_base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="modal fade" id="uploading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			<h4 class="modal-title" id="myModalLabel">Upload Picture</h4>
  			</div>
      		<div class="modal-body">
				<form id="courseInfo" action="{{url_for('upload') }}" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<label for="name">Picture:</label>
						<input id="file" type="file" name="file">
					</div>
					<input type="submit" class="btn btn-primary" value="submit">
				</form>
			</div>
		</div>
	</div>
</div>
<!--  -->
<div id="owl-demo" class="owl-carousel" style="background-color: black; padding-top: 1em; padding-bottom: 1em">
	<div><img src="/static/assets/1.jpg" alt="pic" class="gally"></div>
	<div><img src="/static/assets/2.jpg" alt="pic" class="gally"></div>
	<div><img src="/static/assets/3.jpg" alt="pic" class="gally"></div>
	<div><img src="/static/assets/4.jpg" alt="pic" class="gally"></div>
	<div><img src="/static/assets/5.jpg" alt="pic" class="gally"></div>
	{% for pic in photos %}
		<div><img src="/static/assets/uploads/{{ pic.photo_url }}" alt="pic" class="gally"></div>
	{% endfor %}
</div>

<!-- upload images -->
<footer class="site-footer">
	<div class="container">
			<a href="#uploading" data-toggle="modal"><img src="/static/assets/uploadIcon1.png" width=100 id="footy_img" class="centeredImage" style="padding-top:1em"><p style="text-align:center">+加照片</p></a>
			<p style="text-align:center">注意：上传的图片大小不得超过500kB</p>
	</div>
</footer>

{% endblock %}